{% extends "layout.html" %}

{% macro show_errors(form, fieldname) %}
    {% if form[fieldname].errors|length > 0 %}
        <ul class='errors'>
        {% for error in form[fieldname].errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}


{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      {{form.csrf_token}}
      <dl>
        <dt>{{form.title.label}}
          <dd>
          {{form.title}}
          {{ show_errors(form, 'title') }}
        <dt>
        {{form.text.label}}
        <dd>       
        {{form.text}}       
        {{ show_errors(form, 'text') }}
        
        <dt>{{form.metadata.date.label}}
        <dd>{{form.metadata.date}}
        {{ form.metadata.csrf_token }}
        
        {{ show_errors(form.metadata, 'date') }}
        
        <dd><input type=submit value=Share tabindex=3>
        
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>
    {% if entry.metadata %}
        {% if entry.metadata.date %}
          <p>{{entry.metadata.date}}</p>
        {% endif %}
        
    {% endif %}
    <div>{{ entry.text|safe }}</div>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
